.App {
  text-align: center;
}

.dashboard-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
}

.user-dashboard-right {
  text-align: right;
  margin-right: 5%;
}

.user-dashboard-left {
  text-align: left;
  margin-left: 5%;
}

.none {
  display: none;
}

.error {
  color: red;
}

.auth-form {
  text-align: center;
  border: 1px solid black;
  width: 75%;
  margin: 0 auto;
  padding: 10%;
  background-color: #dcdcdc;
  background-image: url('./images_static/recipe.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .8;
}

.auth-btn-group {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 25%;
}

.create-recipe {
  margin-left: 12%;
  margin-right: 12%;
}

.image-input {
  margin-top: 10%;
}

.create-recipe .form-row h4 {
  margin-top: 30%;
  margin-left: 25%;
  position: absolute;
  z-index: 10;
}

.create-recipe .form-row {
  display: flex;
  justify-content: space-around;
}

.create-recipe .input-field {
  margin: 5%;
}

.create-recipe .recipe-btn-group button {
  width: 10%;
}

.create-recipe-item {
  margin: 1%;
}

.recipe-btn-add-fields {
  width: 25%;
}

.recipe-btn-group {
  display: flex;
  justify-content: space-around;
}

.recipe-lists {
  width: 90%;
  margin: 2% 5%;
}

.recipe-list {
  width: 90%;
  margin: 2% 5%;
  background-color: #dcdcdc;
}

.reciepe-lists .recipe-list {
  width: 90%;
}

/* .recipe-lists .recipe-list .row {
  white-space: nowrap;
  overflow-x: scroll;
} */

.single-list .recipe-list .row {
  display: grid;
  grid-auto-rows: max-content;
  grid-gap: 1px;
}

.list-header {
  margin-left: 5%;
  text-decoration: none;
  color: black;
  width:fit-content;
  cursor: pointer;
  overflow-y: hidden;
}

.list-header:hover {
  color:lightblue;
}

.single-recipe-card {
  margin: 3% 5%;
}

.single-recipe-card img {
  width: 75%;
  margin-left: 10%;
}

.single-recipe-card .card-section {
  margin: 2% 0%;
}

.single-recipe-card .image-footer {
  margin-left: 8%;
}

.single-recipe-card .list-item {
  margin: 1%;
}

.col .recipe-card {
  margin: 1%;
  border: 3px solid gray;
  border-radius: 5%;
  padding: 1%;
  background-color: white;
  overflow: hidden;
  width: 215px;
  height: 145px;
}

.recipe-card:hover {
  border: 3px solid lightblue;
  cursor: pointer;
}

.recipe-card .card-img {
  width: 200px;
  height: 100px;
  object-fit: fill;
}

.recipe-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-img .single-recipe-card {
  width: 100%;
  object-fit: none;
  height:max-content;
}

.public-header {
  text-align: center;
  margin: 0 auto;
}

.user-recipe-info {
  text-align: right;
}

.conveyor-system {
  width: min-content;
}

.conveyor {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.green-disabled {
  background-color: darkgreen;
}

.green-selectable {
  background-color: lime;
}

.blue-disabled {
  background-color: darkblue;
}

.blue-selectable {
  background-color: lightblue;
}

.red-disabled {
  background-color: darkred;
}

.red-selectable {
  background-color: red;
}
