.App {
  text-align: center;
}

.recipe-card image {
  width: 50;
  height: 50;
}

.dashboard-container {
  display: flex;
  justify-content: space-between;
}

.recipe-lists {
  height: 40vh;
  overflow: hidden;
}

.user-dashboard-right {
  text-align: right;
  margin-right: 5%;
}

.user-dashboard-left {
  text-align: left;
  margin-left: 5%;
}

.none {
  display: none;
}

.menu-list {
  list-style: none;
  margin-left: -2.55%;
  margin-top: 2%;
  position: absolute;
  z-index: 1;
}

.menu-item button {
  width: 100%;
  font-size: large;
}

.menu-item button:hover {
  background-color: #dcdcdc;
  border:2px solid yellow;
}

.menu-item button:active {
  color: yellow;
}

.auth-form {
  text-align: center;
  border: 1px solid black;
  width: 50%;
  margin: 0 auto;
  padding: 10%;
  background-color: #cd853f;
}

.recipe-list {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #dcdcdc;
}

.list-header {
  margin-left: 5%;
  text-decoration: none;
  color: black;
  width:fit-content;
}

.list-header:hover {
  color:yellow;
}

.recipe-card {
  margin: 2%;
  border: 3px solid gray;
  border-radius: 5%;
  padding: 3%;
  background-color: white;
}

.recipe-card:hover {
  border: 4px solid yellow;
}

.public-header {
  text-align: center;
  margin: 0 auto;
}
